*.pdf
*.html
*.faiss
*.csv

# Ignore all vscode files
.vscode/*
.DS_Store


# Ignore pycache in all directories
**/__pycache__/*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Large binary files
*.faiss
index_to_text.pkl
chunk_embedding.csv
index_to_text.pkl

# Directories that can contain secrets/credentials
secret_key.txt

# Scraped data directory
www.sidley.com/